.burger {
    display: none;
}

@media screen and (max-width: 730px) {
    .burger {
        height: 24px;
        width: 24px;
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
    }

    .burger__dash {
        background-color: #fff;
        display: block;
        height: 2px;
        transition: all 0.3s ease-in-out;
        width: 16px;
        position: relative;
        margin-bottom: 8px;
    }

    .burger__dash::after {
        position: absolute;
        background-color: #fff;
        content: "";
        height: 2px;
        transition: all 0.3s ease-in-out;
        top: -6px;
        display: block;
        width: 16px;
    }

    .burger__dash_black {
       background-color: black;
    }
    .burger__dash_black::after {
        background-color: black;
    }

    .burger__dash_active {
        background-color: white;
        transform: rotate(45deg);
        transition:transform 0.2s ease-in 0.2s;
        align-self: center;
        margin:0;
    }

    .burger__dash_active::after {
        background-color: white;
        transform: rotate(90deg);
        top:0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

}
