.articles {
    padding: 80px 104px;
    display: flex;
    flex-direction: column;
}

.articles__title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    font-family: var(--font-title);
    color: black;
    margin:0;
    padding-bottom: 64px;
}

.articles__list {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 16px 16px;
    grid-template-columns: repeat(3, minmax(224px,1fr));
    justify-content: space-between;
}

.articles__button {
    font-family: var(--font-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    align-self: center;
    height: 64px;
    width: 288px;
    border-radius: 80px;
    background: #FFFFFF;
    margin: 64px 0 0;
    border-color: transparent;
    cursor: pointer;
}

.articles__button:hover {
    background-color:#e8e8e9;
}

@media screen and (max-width: 1062px) {
    .articles__title {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
    }
}

@media screen and (max-width: 912px) {
    .articles {
        padding-left: 40px;
        padding-right: 40px;
    }
    .articles__title {
        font-size: 30px;
        line-height: 34px;
    }
    .articles__list {
        gap: 8px 8px;
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    }
}

@media screen and (max-width: 534px) {
    .articles {
        padding-left: 16px;
        padding-right: 16px;

    }
    .articles__list {
        grid-template-columns: 100%;
        justify-content: center;
        gap: 10px;
    }
    .articles__title {
        text-align: left;
        padding-bottom: 24px;
        max-width: 288px;
    }
}
