.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
    visibility: collapse;
    opacity: 0;
    transition: visibility 0ms 400ms, opacity 400ms 0ms;
    z-index: 2;
}


.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility  0ms 0ms, opacity 400ms 0ms;
}

.popup__form {
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    position: relative;
    padding: 34px 36px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup__form_type_tooltip {
    padding: 43px 51px 28px;
    align-items: flex-start;
}

.popup__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.popup__button-close {
    width: 40px;
    height: 40px;
    border:none;
    background: url('../../images/close.svg') center no-repeat transparent;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__subtitle {
    margin-top:0;
    margin-bottom: 28px;
    font-family: var(--font-input);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
}

.popup__link {
    font-family: var(--font-input);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #2F71E5;
    cursor: pointer;
    margin: 0;
}

.popup__fieldset {
    width: 358px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}


.popup__title {
    margin-bottom: 22px;
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #1A1B22;
}

.popup__input {
    width: 100%;
    font-family: var(--font-input);
    padding-bottom: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 9px;
}

.popup__input:focus {
    outline:none;
    border-bottom: 1px solid #000000;
}


.popup__label {
    font-family: var(--font-input);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    color:#2F71E5;
    display: block;
    margin-bottom: 30px;
}

.popup__label:last-of-type{
    margin-bottom: 0;
}

.popup__button {
    height: 64px;
    width: 100%;
    border-radius: 100px;
    border:none;
    margin-top: 39px;
    margin-bottom: 16px;
    font-family: var(--font-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    background: #2F71E5;
    color: white;
    cursor: pointer;
}

.popup__button:disabled {
    background: #E6E8EB;
    color: #B6BCBF;
    cursor: default;
    pointer-events: none;
}


.popup__input-error {
    font-family:var(--font-input);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
    color:rgba(255, 0, 0, 1);
    display: block;
    height: 14px;
    margin-top: 3px;
}

@media screen and (max-width: 534px) {
    .popup__form {
        width: 100%;
        padding: 16px;
    }
    .popup__button-close {
        right: 16px;
        top: -50px;
        width: 24px;
        height: 24px;
    }
    .popup__fieldset {
        width: 100%;
    }
}


