.main {
    width: 100%;
}
.main__news-container {
    background-color: #F5F6F7;
}
.main__not-found {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 356px;
    padding: 86px 80px;
  }

  .main__not-found-icon {
    width: 95px;
    height: 95px;
    background-image: url('../../images/not-found_v1.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  .main__not-found-heading {
    font-family: var(--font-title);
    font-size: 26px;
    line-height: 1;
    font-weight: 400;
    margin: 24px auto 16px;
  }

  .main__not-found-text {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(182, 188, 191, 1);
    margin: 0;
  }
