.footer {
    min-height: 80px;
    display: flex;
    width: 100%;
}

.footer__container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 104px;
    margin-right: 104px;
}

.footer__copyright {
    font-family: var(--font-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #B6BCBF;
}

.footer__link {
    color: #1A1B22;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    display: block;
    cursor: pointer;
}

.footer__navigation {
    margin-left: auto;
}

.footer__nav-list {
    display: flex;
    list-style: none;
    padding:0;
}

.footer__nav-item {
    display: flex;
}
.footer__nav-item:first-of-type {
    margin-right: 42px;
}

.footer__link_main {
    height: 22px;
    width: 112px;
    text-align: center;
}

.footer__link_praktikum {
    height: 22px;
    width: 192px;
}


.footer__link_github {
    width:20.21px;
    height:19.71px;
    margin-right:27.89px;
}

.footer__link_facebook {
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    width:20.21px;
    height:19.71px;
}


@media screen and (max-width: 912px){
    .footer__container {
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer__nav-item {
        display: flex;
    }
    .footer__nav-item:first-of-type {
        margin-right: 26px;
    }

    .footer__link_main {
        width: 88px;
    }

    .footer__link_praktikum {
        width: 176px;
    }
}

@media screen and (max-width: 730px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copyright {
        order: 2;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .footer__navigation {
        margin:0;
        width: 100%;
    }
    .footer__nav-list {
        justify-content: space-between;
        margin: 0;
    }

    .footer__nav-item:first-of-type {
        display: grid;
        width: 200px;
        height: 72px;
        align-content: space-between;
        margin: 0;
    }
}

@media screen and (max-width:530px)  {
    .footer__container {
        margin-left: 16px;
        margin-right: 16px;
    }
}
